<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDID8xKgJArjRDGtE8X4wEzBzYsY3qUWj0</string>
	<key>GCM_SENDER_ID</key>
	<string>306823952848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartrent.smartRent</string>
	<key>PROJECT_ID</key>
	<string>flutter-rent-house-3f415</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-rent-house-3f415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306823952848:ios:593e33c161013d1eef61d5</string>
</dict>
</plist>